@use "../../../variables";

.modal__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 25rem;
    overflow: auto;
    padding: 1rem;
    position: relative;
    text-align: right;

    &-formPart {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    &-input {
        background-color: transparent;
        border-radius: 10px;
        border: variables.$container-border;
        color: variables.$text-light;
        overflow: hidden;
        padding: .5rem;
        text-indent: .5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
