$text-dark: #212529;
$text-light: #fff;

$primary-background: #0f0f0f;
$container-background: rgb(31, 31, 31);
$container-border-shadow: .125rem solid rgba(255,255,255,.05);
$container-border: .125rem solid rgba(255,255,255,.05);

$odd-table-row: #333;
$table-row-hover: #3a3a3a;

$danger: #f91c1c;
$orange: #f97f12;
$green: #19ba19;
$blue: #00AEC7;

$input-border: 1px solid #ced4da;
$input-border-focus: 1px solid $blue;
$input-border-shadow: 0 0 0 3px #D1F0F5B2;

$modal-overlay: rgba(255, 255, 255, 0.15);
